@charset "UTF-8";
.wct-half-gradient-background {
  background-image: none !important;
}
.wct-half-gradient-background:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(90deg, #c944a0 0%, #711ed1 100%) !important;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .wp-block-gallery figure.wp-block-image:not(#individual-image) {
    width: 100%;
  }
}

.wp-block-heading {
  text-wrap: balance;
  line-height: normal;
}

a:focus, a:active {
  outline: none;
}

@media screen and (max-width: 768px) {
  .wp-block-jetpack-subscriptions__form-elements {
    flex-direction: column;
    gap: 0.75rem;
  }
  .wp-block-jetpack-subscriptions__form-elements p#subscribe-email {
    width: 100%;
  }
  .wp-block-jetpack-subscriptions__form-elements p#subscribe-submit {
    width: 100% !important;
  }
  .wp-block-jetpack-subscriptions__form-elements p#subscribe-submit button[type=submit] {
    margin-left: 0 !important;
  }
}

.wp-block-columns.wct-colored-cards .wp-block-column .wp-block-group {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.wp-block-columns.wct-colored-cards .wp-block-column .wp-block-group:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
}
.wp-block-columns.wct-colored-cards .wp-block-column:nth-child(1) .wp-block-group:after {
  background: var(--wp--preset--color--custom-rouge);
}
.wp-block-columns.wct-colored-cards .wp-block-column:nth-child(2) .wp-block-group:after {
  background: var(--wp--preset--color--custom-jaune);
}
.wp-block-columns.wct-colored-cards .wp-block-column:nth-child(3) .wp-block-group:after {
  background: var(--wp--preset--color--custom-bleu);
}
.wp-block-columns.wct-cards-types .wp-block-buttons {
  margin-top: auto;
}

.wp-block-button {
  background: var(--wp--preset--color--custom-bleu);
  border-radius: 0.5rem;
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link {
  position: relative;
  bottom: 0;
  transition: 150ms;
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
  bottom: 6px;
  background: var(--wp--preset--color--custom-violet);
}
.wp-block-button.is-style-outline .wp-block-button__link {
  position: relative;
  bottom: 0;
  transition: 150ms;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover {
  bottom: 6px;
  background: var(--wp--preset--color--base);
}

form.wp-block-jetpack-contact-form input,
form.wp-block-jetpack-contact-form textarea,
form.wp-block-jetpack-contact-form select {
  border-radius: 0.5rem !important;
  color: var(--wp--preset--color--custom-violet) !important;
  border-color: var(--wp--preset--color--custom-violet-leger) !important;
}
form.wp-block-jetpack-contact-form input:focus, form.wp-block-jetpack-contact-form input:active,
form.wp-block-jetpack-contact-form textarea:focus,
form.wp-block-jetpack-contact-form textarea:active,
form.wp-block-jetpack-contact-form select:focus,
form.wp-block-jetpack-contact-form select:active {
  outline-color: var(--wp--preset--color--custom-violet-leger);
}
form.wp-block-jetpack-contact-form .wp-block-button {
  flex: unset;
}

#tix {
  padding-top: 0 !important;
}
#tix:has(.tix-ticket-form) {
  margin-bottom: 4rem;
}
#tix form table {
  width: 100%;
}
#tix form table thead th {
  text-align: left;
}
#tix form table tbody th {
  text-align: left;
}
#tix form table tbody td.tix-column-quantity select {
  padding: 0.25rem 0.5rem;
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  color: var(--wp--preset--color--custom-violet);
}
#tix input[type=submit] {
  position: relative;
  background: var(--wp--preset--color--custom-violet);
  border-radius: 0.5rem !important;
  border: none;
  padding: 10px 20px !important;
  color: var(--wp--preset--color--base);
  font-family: inherit;
  font-size: var(--wp--preset--font-size--medium);
  line-height: inherit !important;
  text-transform: none !important;
  text-wrap: wrap;
  letter-spacing: 0 !important;
  transition: 150ms;
}
#tix input[type=submit]:hover {
  transform: translateX(0.25rem);
}
#tix p:last-child {
  margin-bottom: 0 !important;
}
#tix .tix-order-summary {
  background: var(--wp--preset--color--custom-violet-tres-leger);
  padding: 2rem;
  border-radius: 0.5rem;
}
#tix table.tix-attendee-form {
  background: var(--wp--preset--color--custom-violet-tres-leger);
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
#tix table.tix-attendee-form tr td {
  padding: 0.5rem 0;
}
#tix table.tix-attendee-form tr td.tix-left {
  width: 60%;
  padding-right: 2rem;
}
#tix table.tix-attendee-form tr td.tix-right {
  width: 40%;
}
#tix table.tix-attendee-form tr td input {
  font-family: inherit;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  color: var(--wp--preset--color--custom-violet);
}
#tix table.tix-attendee-form tr.tix-row-health-advisory {
  font-style: italic;
}
#tix .tix-submit {
  float: none;
  width: 100%;
  margin-bottom: 2rem;
}
#tix .tix-payment-method {
  display: flex;
}
#tix .tix-payment-method .tix-payment-tab {
  float: none;
  color: var(--wp--preset--color--custom-violet);
  font-family: inherit;
  width: 50%;
  border-bottom-color: var(--wp--preset--color--custom-violet);
  cursor: pointer;
}
#tix .tix-payment-method-container fieldset {
  border-radius: 0.5rem !important;
  border-color: var(--wp--preset--color--custom-violet-leger);
}
#tix .tix-payment-method-container fieldset label {
  color: var(--wp--preset--color--custom-violet) !important;
  cursor: pointer;
}
#tix .tix-ticket-form {
  background: var(--wp--preset--color--custom-violet-tres-leger);
  padding: 2rem;
  border-radius: 0.5rem;
  width: 100%;
}
#tix .tix-ticket-form a {
  color: var(--wp--preset--color--custom-violet);
}
@media screen and (max-width: 600px) {
  #tix input[type=submit] {
    float: none !important;
  }
  #tix table:not(.tix-tickets-list) tbody tr {
    display: block;
  }
  #tix table:not(.tix-tickets-list) tbody tr td.tix-left, #tix table:not(.tix-tickets-list) tbody tr td.tix-right {
    display: block;
    width: 100% !important;
  }
  #tix:has(.tix-tickets-list) {
    overflow-x: auto;
  }
  #tix:has(.tix-tickets-list) th,
#tix:has(.tix-tickets-list) td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  #tix table.tix-order-summary {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    padding: 1.25rem;
  }
  #tix table.tix-order-summary .tix-column-description {
    display: none;
  }
  #tix table.tix-order-summary thead th,
#tix table.tix-order-summary tbody td {
    padding: 0 5px;
    text-wrap: nowrap;
    min-width: 75px;
  }
  #tix table.tix-order-summary thead th:nth-child(2),
#tix table.tix-order-summary tbody td:nth-child(2) {
    padding-left: 0;
  }
  #tix table.tix-order-summary tbody .tix-row-total {
    position: relative;
    display: flex;
    justify-content: start;
    margin-top: 1rem;
  }
  #tix table.tix-order-summary tbody .tix-row-total:before {
    content: "Total";
    font-weight: bold;
    position: relative;
    margin-top: auto;
  }
  #tix table.tix-order-summary tbody .tix-row-total td:nth-child(1) {
    display: none;
  }
  #tix table.tix-order-summary tbody .tix-row-total td:nth-child(2) {
    display: flex;
    justify-content: end;
  }
  #tix .tix-submit .tix-checkout-button {
    display: inline;
  }
  #tix table.tix-ticket-form {
    padding: 1.5rem;
  }
  #tix table.tix-ticket-form thead tr th:nth-child(2) {
    display: none;
  }
  #tix table.tix-ticket-form tbody tr {
    display: flex;
    flex-direction: column;
  }
  #tix table.tix-ticket-form tbody tr td.tix-left, #tix table.tix-ticket-form tbody tr td.tix-right {
    display: block;
    width: 100% !important;
  }
  #tix table.tix-ticket-form tbody tr td:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  #tix .tix-payment-method {
    flex-direction: column;
  }
  #tix .tix-payment-method .tix-payment-tab {
    width: 100%;
    opacity: 0.5;
    transition: 150ms;
  }
  #tix .tix-payment-method .tix-payment-tab.tix-tab-selected {
    opacity: 1;
  }
}

#tix-attendees .avatar {
  float: none;
}
#tix-attendees ul.tix-columns-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  column-gap: 1rem;
}
#tix-attendees ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
  height: 100%;
  float: none;
  margin-bottom: 0;
}
#tix-attendees ul li .avatar {
  float: none;
  width: 6rem;
  height: 6rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}
#tix-attendees ul li .tix-attendee-name {
  text-align: center;
  margin: 0;
  font-size: 1rem;
}
@media screen and (max-width: 1024px) {
  #tix-attendees ul.tix-columns-4 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  #tix-attendees ul.tix-columns-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  #tix-attendees ul.tix-columns-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.wp-block-jetpack-subscriptions #subscribe-email input {
  color: var(--wp--preset--color--custom-violet);
}
.wp-block-jetpack-subscriptions #subscribe-submit {
  position: relative;
}
.wp-block-jetpack-subscriptions #subscribe-submit:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: var(--wp--preset--color--custom-bleu);
  width: calc(100% - 10px);
  height: 100%;
  border-radius: 8px;
  z-index: 0;
}
.wp-block-jetpack-subscriptions #subscribe-submit:hover .wp-block-button__link {
  background: var(--wp--preset--color--custom-violet);
  transform: translateY(-6px);
}
.wp-block-jetpack-subscriptions #subscribe-submit .wp-block-button__link {
  transition: all 150ms;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .wp-block-jetpack-subscriptions #subscribe-submit:hover .wp-block-button__link {
    transform: none;
  }
}

.wp-block-image figcaption {
  font-size: 0.75rem;
}

header.wp-block-template-part a {
  outline: none;
}
header.wp-block-template-part a:focus, header.wp-block-template-part a:active {
  outline: none;
}
header.wp-block-template-part .wp-block-navigation .wp-block-navigation-item {
  position: relative;
}
header.wp-block-template-part .wp-block-navigation .wp-block-navigation-item__content {
  text-decoration: none !important;
}
header.wp-block-template-part .wp-block-navigation .wp-block-navigation-item:after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--wp--preset--color--custom-violet);
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s;
}
header.wp-block-template-part .wp-block-navigation .wp-block-navigation-item:hover::after {
  transform: scaleX(1);
}
header.wp-block-template-part .wp-block-navigation-submenu {
  border-radius: 8px;
  border: none;
  padding: 1rem 0;
}
header.wp-block-template-part .wp-block-navigation-submenu ul.wp-block-navigation__submenu-container {
  overflow: hidden !important;
  border: none !important;
}
header.wp-block-template-part .wp-block-navigation-submenu ul.wp-block-navigation__submenu-container.wp-block-navigation-submenu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
header.wp-block-template-part .wp-block-navigation-submenu ul.wp-block-navigation__submenu-container .wp-block-navigation-item {
  font-weight: 500;
  color: var(--wp--preset--color--custom-violet);
}
header.wp-block-template-part .wp-block-navigation-submenu ul.wp-block-navigation__submenu-container .wp-block-navigation-item__content {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
header.wp-block-template-part .wp-block-navigation-submenu ul.wp-block-navigation__submenu-container .wp-block-navigation-item__content:before {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  content: "•";
  margin-right: 0.5rem;
}
header.wp-block-template-part .wp-block-navigation-submenu ul.wp-block-navigation__submenu-container .wp-block-navigation-item__label {
  padding-left: 0.25rem;
}
@media screen and (max-width: 600px) {
  header.wp-block-template-part .wp-block-navigation-submenu ul.wp-block-navigation__submenu-container {
    padding: 0 !important;
    gap: 19.2px;
  }
  header.wp-block-template-part .wp-block-navigation-submenu ul.wp-block-navigation__submenu-container .wp-block-navigation-item__content:before {
    content: "";
    margin-right: 0rem;
  }
}
@media screen and (max-width: 600px) {
  header.wp-block-template-part .wp-block-navigation.items-justified-right {
    --navigation-layout-justification-setting: center;
    --navigation-layout-justify: center;
  }
  header.wp-block-template-part .wp-block-navigation-item__label {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--wp--preset--color--custom-violet);
  }
  header.wp-block-template-part .wp-block-navigation .wp-block-button__link {
    font-size: 1.25rem;
  }
}

footer.wp-block-template-part {
  margin-block-start: 0;
}
footer.wp-block-template-part:before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background: var(--wp--preset--gradient--custom-color-1);
}
footer.wp-block-template-part a {
  outline: none;
}
footer.wp-block-template-part a:focus, footer.wp-block-template-part a:active {
  outline: none;
}
footer.wp-block-template-part .wct-footer-bottom {
  opacity: 0.5;
}
footer.wp-block-template-part .wct-footer-bottom a {
  text-decoration: none;
}
footer.wp-block-template-part .wct-footer-bottom a:after {
  content: url("https://toulouse.wordcamp.org/2025/files/2025/03/icon-arrow-up-right.png");
  display: inline-block;
  margin-left: 0.25rem;
}

/*# sourceMappingURL=wct-styles.css.map */
