@charset "UTF-8";
.wct-half-gradient-background {
  background-image: none !important;
}
.wct-half-gradient-background:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(90deg, #c944a0 0%, #711ed1 100%) !important;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .wp-block-gallery figure.wp-block-image:not(#individual-image) {
    width: 100%;
  }
}

.wp-block-heading {
  text-wrap: balance;
}

h1,
h2,
h3,
h4 {
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .wp-block-jetpack-subscriptions__form-elements {
    flex-direction: column;
    gap: 0.75rem;
  }
  .wp-block-jetpack-subscriptions__form-elements p#subscribe-email {
    width: 100%;
  }
  .wp-block-jetpack-subscriptions__form-elements p#subscribe-submit {
    width: 100% !important;
  }
  .wp-block-jetpack-subscriptions__form-elements p#subscribe-submit button[type=submit] {
    margin-left: 0 !important;
  }
}

.wp-block-columns.wct-colored-cards .wp-block-column .wp-block-group {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.wp-block-columns.wct-colored-cards .wp-block-column .wp-block-group:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
}
.wp-block-columns.wct-colored-cards .wp-block-column:nth-child(1) .wp-block-group:after {
  background: var(--wp--preset--color--custom-rouge);
}
.wp-block-columns.wct-colored-cards .wp-block-column:nth-child(2) .wp-block-group:after {
  background: var(--wp--preset--color--custom-jaune);
}
.wp-block-columns.wct-colored-cards .wp-block-column:nth-child(3) .wp-block-group:after {
  background: var(--wp--preset--color--custom-bleu);
}

.wp-block-navigation .wp-block-navigation-item__content {
  text-underline-offset: 0.5rem !important;
  text-decoration-thickness: 0.2rem !important;
}

.wp-block-navigation-submenu {
  border-radius: 8px;
  border: none;
  padding: 1rem 0;
}
.wp-block-navigation-submenu ul.wp-block-navigation__submenu-container {
  overflow: hidden !important;
  border: none !important;
}
.wp-block-navigation-submenu ul.wp-block-navigation__submenu-container .wp-block-navigation-item {
  font-weight: 500;
  color: var(--wp--preset--color--custom-violet);
}
.wp-block-navigation-submenu ul.wp-block-navigation__submenu-container .wp-block-navigation-item__content {
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.wp-block-navigation-submenu ul.wp-block-navigation__submenu-container .wp-block-navigation-item__content:before {
  content: "•";
  margin-right: 0.5rem;
}
@media screen and (max-width: 600px) {
  .wp-block-navigation-submenu ul.wp-block-navigation__submenu-container {
    padding: 0 !important;
    gap: 19.2px;
  }
  .wp-block-navigation-submenu ul.wp-block-navigation__submenu-container .wp-block-navigation-item__content:before {
    content: "";
    margin-right: 0rem;
  }
}

@media screen and (max-width: 600px) {
  .wp-block-navigation.items-justified-right {
    --navigation-layout-justification-setting: center;
    --navigation-layout-justify: center;
  }

  .wp-block-navigation-item__label {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--wp--preset--color--custom-violet);
  }

  .wp-block-navigation .wp-block-button__link {
    font-size: 1.25rem;
  }
}

/*# sourceMappingURL=wct-styles.css.map */
