.wct-half-gradient-background {
	background-image: none !important;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50%;
		background-image: linear-gradient(90deg, rgb(201, 68, 160) 0%, rgb(113, 30, 209) 100%) !important;
		z-index: -1;
	}
}

.wp-block-gallery {
	@media screen and (max-width: 600px) {
		figure.wp-block-image:not(#individual-image) {
			width: 100%;
		}
	}
}
