.wct-session {
	&__speaker {
		font-family: var(--wp--preset--font-family--heading);
	}

	&__date,
	&__time {
		time {
			font-size: var(--wp--preset--font-size--medium) !important;
		}
	}

	&__tracks {
		display: flex;
		gap: 0.5rem;
		align-items: center;

		a {
			display: block;
			border-radius: 8px;
			padding: 0.5rem 0.75rem;
			font-size: var(--wp--preset--font-size--small);
			font-weight: 700;
			line-height: normal;
			color: var(--wp--preset--color--custom-violet);
			background: var(--wp--preset--color--custom-violet-tres-leger);
			border: none;
		}
	}

	&__content {
		padding: 0;
	}

	&__speaker {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.wp-block-wordcamp-session-speakers__name {
			a {
				color: var(--wp--preset--color--custom-violet);
				text-decoration: none;
				font-weight: 700;
				font-size: 18px;
			}
		}

		&-avatar {
			border-radius: 1rem;
			overflow: hidden;
			margin-bottom: 1rem !important;
		}
	}

	@media screen and (max-width: 781px) {
	}
}
