body.single {
	h2.wp-block-heading {
		margin: 4rem 0 1rem;
	}

	h3.wp-block-heading {
		margin: 2.5rem 0 0.75rem;
	}

	/* Override styles when inside a .wp-block-group */
	.wp-block-group h2.wp-block-heading {
		margin: initial; /* Reset margin */
	}

	.wp-block-group h3.wp-block-heading {
		margin: initial;
	}
}
