body.single {
	.entry-content > {
		h2.wp-block-heading {
			margin: 4rem auto 1rem !important;
		}

		h3.wp-block-heading {
			margin: 2.5rem auto 0.75rem !important;
		}
	}

	.wp-block-group h2.wp-block-heading {
		margin: initial; /* Reset margin */
	}

	.wp-block-group h3.wp-block-heading {
		margin: initial;
	}
}
