.wporg-site-breadcrumbs {
	&__wrapper {
		display: initial;
		white-space: initial !important;

		&:after {
			content: none !important;
		}

		span {
			display: initial;
			font-size: 1rem;

			&:after {
				padding-left: 0.5rem;
				padding-right: 0.5rem;
				opacity: 0.75;
			}

			&:not(.is-current-page) {
				opacity: 0.75;
			}

			&.is-current-page {
			}
		}
	}
}

.wp-block-wporg-site-breadcrumbs {
	mask-image: none !important;
}
