.wporg-site-breadcrumbs {
	&__wrapper {
		display: flex;
		gap: 0.5rem;
		align-items: center;

		&:after {
			content: none !important;
		}

		span {
			font-size: 1rem;

			&:after {
				padding-left: 0.5rem;
				opacity: 0.75;
			}

			&:not(.is-current-page) {
				opacity: 0.75;
			}

			&.is-current-page {
			}
		}
	}
}
