.wp-block-columns {
	&.wct-colored-cards {
		.wp-block-column {
			&:nth-child(1) {
				&:after {
					background: var(--wp--preset--color--custom-rouge);
				}
			}

			&:nth-child(2) {
				&:after {
					background: var(--wp--preset--color--custom-jaune);
				}
			}

			&:nth-child(3) {
				&:after {
					background: var(--wp--preset--color--custom-bleu);
				}
			}

			.wp-block-group {
				position: relative;

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 6px;
				}
			}
		}
	}
}

.wp-block-column {
}
