form.wp-block-jetpack-contact-form {
	input,
	textarea,
	select {
		border-radius: 0.5rem !important;
		color: var(--wp--preset--color--custom-violet) !important;
		border-color: var(--wp--preset--color--custom-violet-leger) !important;

		&:focus,
		&:active {
			outline-color: var(--wp--preset--color--custom-violet-leger);
		}
	}

	.wp-block-button {
		flex: unset;
	}
}
