.wp-block-image {
	figcaption {
		font-size: 0.75rem;
	}
}

.card-logo {
	background: var(--wp--preset-color--base);
	padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--40);
	border-radius: 8px;
}
