.wp-block-image {
	&.card-logo {
		background: var(--wp--preset--color--base);
		padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--60);
		border-radius: 16px;
	}

	figcaption {
		font-size: 0.75rem;
	}
}
